{{template "admin" .}}

{{define "content"}}
        <div class="col-md-12"></div>
        
        <h4>Click the side bar to make and view reservations</h4>
        <div  style="width: 1000rem; height: 200rem;">
            <img src="/static/images/woman-laptop.png" class="card-img-top" alt="lady writing">
            </div>
        </div>

        <!-- <div style="width: 30rem; height: 20rem;">
            <img src="/static/images/woman-laptop.png" class="card-img-buttom" alt="lady writing">
            </div>
        </div>  -->



{{end}}